footer{
    height:100px;
}
nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    border-top: var(--color-white) 1px solid;
    padding :10px;
    height:100px;
    
}
    a{
        border-radius: 50%;
        display:flex;
        padding:18px;
        background-color: var(--color-gray-black);
        /* border:white 2px solid; */
       
    }
    .home{
        background-color: var(--color-green);
    }