.category{
    display: flex;
    gap:30px;
    margin:30px;
}
.container{
    padding-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
}
.checkbox{
    width:100%;
    margin:auto;
    display:flex;
    padding-top:30px;
    justify-content: center;
}
img{
    width:100%;
    object-fit: fill;
}
input[type="radio"].input-radio {
    display: none;
}
input[type="radio"].input-radio + label {
    
    padding: 1.9rem 0.6rem 0.5rem;
    background-color: var(--color-gray-black);
    border-radius: 50%;
   
}
input[type="radio"].input-radio:checked + label {
    
    background-color: var(--color-yellow);
}
main{
    height:83vh;
}