/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

form {
    height: 390px;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* align-items: center; */
}

.category {
    /* width:390px; */
    /* margin:auto; */
    margin-top: 46px;
    display: flex;
    gap: 7px;
    /* justify-content: space-around; */
    /* gap:10px;   */

}

/* .category div{
    padding:5px;
    margin-left:16
} */

.title-category {
    padding-top: 20px;
    margin-left: 10px;
    font-size: 16px;
}

.task {
    margin-top: 46px;
    font-size: 16px;
    margin-left: 10px;
}

/* .container{
    padding-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:auto;
} */
/* .container-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.checkbox {
    width: 100%;
    margin: auto;
    display: flex;
    padding-top: 5px;
    margin-left: 30px;
}

/* p {
    margin-left: 26px;
} */

/* img {
    width: 100%;
    object-fit: fill;
} */

input[type="radio"].input-radio {
    display: none;
}

input[type="radio"].input-radio+label {

    padding: 1.3rem 1.3rem 1.3rem;
    background-color: var(--color-gray-black);
    border-radius: 50%;

}

input[type="radio"].input-radio:checked+label {

    background-color: var(--color-yellow);
}



.textarea {
    margin: 30px;
    width: 338px;
    height: 282px;
    background-color: var(--color-gray-black);
    color: var(--color-white);
}

input[type="checkbox"] {
    opacity: 0;

}

.checkbox label {
    display: flex;
    flex-direction: row-reverse;
}

.checkbox span {
    background-color: var(--color-gray-black);
    margin-right: 0.4rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;

}

.isurgent:checked~span {
    background-color: var(--color-pink);
}

button {
    position: absolute;
    left: 72px;
    top: 522px;


/* background: #64A7D9; */

    width: 248px;
    border-radius: 30px;
    height: 48px;
    background-color: var(--color-blue);
    border: none;
    color: white;
    cursor: pointer;

}


.button-valid:disabled {
    opacity: 0.5;
    background-color: var(--color-blue);
}