<!-- <main> -->
    <!-- <form> -->
        <!-- <app-category-tasks></app-category-tasks>
            <app-description-task></app-description-task> -->
            <!-- </form> -->
            
            <!-- </main> -->
<main>
<form [formGroup]="loginForm" (ngSubmit)="validated()">
    <div class="container">
        <p>Sélectionner votre catégorie :</p>
        <div class="category">
            <div    *ngFor="let category of categories" >
                <input type="radio" id="{{category.id}}" value="{{category.title}}" class="input-radio" name="category" formControlName="category" >
                <label  for="{{category.id}}"><img src="{{category.img}}"></label>
            </div>
        </div>
    </div>
    <div class="container">
    <label for="content">Quelle tâche avez-vous à effectuer ?</label>
    <textarea id="content" formControlName="content" 
    rows="5" cols="33" placeholder="Exemple: Faire les courses" required >
    It was a dark and stormy night... 
    </textarea>
    </div>
    <div class="checkbox">
        <input type="checkbox" for="urgent" formControlName="isUrgent" >
        <label for="urgent">La tâche est urgente ⚠️</label>
    </div>
    
    <button type="submit">Valider ma tâche </button>
</form>
<pre>
{{loginForm.value |json}}
</pre>
</main>